body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 5rem auto 5rem auto;
}

.table-container {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    
    padding: 5px;
    box-shadow: inset 0 0 10px #000000;
}

table {
    width: 450px;
    height: 300px;
    border: black solid;
    margin: 5rem auto 5rem auto;

}


td {
    text-align:center;
    border: black solid;
    width: 25%;
    height: 25%;
}

 @media (max-width: 400px) {
    
    .table-container {
        width: auto;
     
       overflow-x: auto;
    }
}