*, *::before, *::after {

  box-sizing: border-box;

}

:root {
 color: rgb(0, 0, 0);
 font-family: 'Times New Roman', Times, serif;
}

.nav-bar {
  border: dashed thin #7700ff;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  margin: 20px 10px;
  text-align: center;
}

.heading {

  background-image: url(../images/paisley.png);
  background-size: 10%;
  border: solid #ff0000;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  margin: 20px 10px;
  text-align: center;
  box-shadow: #380000 0.3rem 0.3rem 0.5rem;
}

.paragraph {
  border: solid thin #ff4a4a;
  width: 400px;
  height: auto;
  margin-left: auto;
  padding: 10px;
  margin: 80px 20px;
  text-align: center;
  box-shadow: #380000 0.3rem 0.3rem 0.5rem;
}
.square-photo {
  float: right;
  margin: 10px 20px;
  border: solid thin #ab50ff;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

.nav-bar :hover {
    box-sizing: border-box;

  border: solid thin #ff00ff;
  box-shadow: .5rem .5rem .2rem gray;
  padding: 5px;
}

.footer {
  margin-right: auto;
  margin-left: auto;
  margin: 20px 5px;
  float: bottom;
  text-align: left;
}

.Art-description {
  border: solid thin #ff4a4a;
  float: left;
  width: 400px;
  height: auto;
  margin-left: auto;
  padding: 10px;
  margin: 20px 20px;
  text-align: center;
  box-shadow: #380000 0.3rem 0.3rem 0.5rem;
}

.art-image :hover {
  width: 105%;
  height: 105%;
    filter: grayscale(100%)
}

.art-image {
   filter: grayscale(0%)
}

#Flesh-Computer {
  float: left;
  margin: 2.5px 20px;
  border: solid thin #ab50ff;
  font-size: 8px;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

#Drawing-Meeting-Life {
  float: left;
  margin: 8px 20px;
  border: solid thin #ab50ff;
  font-size: 8px;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

.link {
  border: dashed thin #7700ff;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  margin: 20px 10px;
  text-align: center;
}

@media (max-width: 320px) {
    :root {
        font-size: 10px;
        color: black;
    }

    .nav-bar {
  border: dashed thin #7700ff;
  width: 160px;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
  margin: 20px 10px;
  text-align: center;
}

    .heading {
  font-size: 8px;
  border: solid thick #ff0000;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1px;
  margin: 20px 10px;
  text-align: center;
}

.paragraph {
  border: solid thin #ff4a4a;
  font-size: 8px;
  width: 200px;
  height: auto;
  margin-left: auto;
  padding: 5px;
  margin: 30px 10px;
  text-align: center;
}

.square-photo {
  float: right;
  margin: 10px 20px;
  border: solid thin #ab50ff;
  font-size: 8px;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

#index-p2 {
  border: solid thin #4a5cff;
  font-size: 8px;
  width: 200px;
  height: auto;
  margin-left: auto;
  padding: 5px;
  margin: 30px 10px;
  text-align: center;
}


.Art-description {
  float: right;
  border: solid thin #ff4a4a;
  font-size: 16px;
  width: 200px;
  height: auto;
  margin-left: auto;
  padding: 5px;
  margin: 5px 20px;
  text-align: center;
  box-shadow: #380000 0.3rem 0.3rem 0.5rem;
}

.art-image {
   filter: grayscale(100%)
}

.art-image :hover {
    filter: grayscale(0%)
}

#Flesh-Computer {
  float: left;
  margin: 2.5px 20px;
  border: solid thin #ab50ff;
  font-size: 8px;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

#Drawing-Meeting-Life {
  float: left;
  margin: 8px 20px;
  border: solid thin #ab50ff;
  font-size: 8px;
  width: 155px;
  box-shadow: #1a0038 -0.3rem -0.3rem 0.5rem;
}

footer {

  bottom: 0;
  font-size: 10px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  margin: 20px 5px;
  text-align: left;
}


}
