body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 5rem auto 5rem auto;
}

.table-container {
    margin: auto;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    
    padding: 5px;
    box-shadow: inset 0 0 10px #000000;
}

table {
    width: 100%;
    height: 300px;
    border: black solid;
    margin: 5rem auto 5rem auto;
    border-collapse: collapse;

}

th {
    text-align:left;
    padding: 20px;
    border: black solid;
    width: 25%;
    height: 25%;
}


td {
    text-align:center;
    padding: 20px;
    border: black solid;
    width: 25%;
    height: 25%;
}

td, tbody {
    text-align: right;
}

tbody td:nth-child(even) {
    background-color: #dfdede;
}

tfoot  {
    background-color: #f7d7d7;
    font-weight: 700;
}

thead  {
    background-color: #f7d7d7;
    font-weight: 700;
}

ul {
    display: flex;
}

ul, a {
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    background-color: #9e82c9;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

ul, li {
    border-radius: 5px;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;

}

ul, a:hover {
    background-color: #7d76d0;
    color: white;
}

 @media (max-width: 400px) {
    
    .table-container {
        width: auto;
     
       overflow-x: auto;
    }
}