body {
    font-family: Arial, sans-serif;
    font-size: small;
    line-height: 1.5;
}

h1 {
   margin-top: auto;
   margin-bottom: auto;
}

h2 {
    margin-top: auto;
    margin-bottom: auto;

}

section {
   border-bottom: solid black thin;

}  

blockquote {
    font-style: italic;
    color: gray;
    
}